.features{
    &-container{
        padding-top: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-heading{
        margin: 10px auto 30px;
        text-align: center;
    }
    .features-list{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        padding: 0 5%;
        margin-top: 60px;
        justify-content: center;
        padding-bottom: 134px;
    }
    .feature-item{
        display: flex;
        align-items: center;
        height: 208px;
        
        .feature-img{
            height: 100%;
            padding: 40px;
            background-color: #fff;
            box-shadow: 0px 0px 10px #ccc;
        }
        img{
            object-fit: contain;
            width: 100px;
            height: 108px;
        }
        h2{
            font-size: 22px;
        }
        p{
            font-size: 15px;
        }
        .feature-info{
            padding: 25px;
            display: flex;
            justify-content: center;
            align-items: start;
            height: 100%;
            flex-direction: column;
            background-color: rgba(204, 204, 204, 0.368);
            padding-right: 35px;
            text-align: left;
            gap: 10px;
            max-width: 300px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    .features{

    }
}
@media screen and (max-width: 767.98px) {
    .features{
        &-container{
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}