body{
    line-height: 1;
    font-weight: 500;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.wrapper{
    margin: 0 auto;
    overflow: hidden;
}
.container{
    margin: 0 auto;
}

.section-heading{
    text-transform: uppercase;
    color: #000;
    font-size: 30px;
}
.section-text{
    text-align: center;
    max-width: 600px;
    font-size: 20px;
    color: #70747c;
    font-weight: 500;
}